
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

/*Genarel CSS*/

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif; 
} 

img	{
	width: 100%;
	height: auto;
	display: block;
}

a{
	text-decoration: none;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

p{
	font-size: 15px;

}



/*Top area css*/

.top_area{
	background: #2980b9
	
}
.top_content{}
.top_content h5{
	font-size: 13px;
	color: #ffffff;
	margin-left: 20px;
	margin-top: 10px;
	font-weight: 600;
}
.top_content h6{
	font-size: 13px;
	color: #ffffff;
	font-weight: 600;
	text-align: right;
	margin-top: 8px;
}
.top_icon{}
.top_icon ul{
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	margin-top: 3px;
}
.top_icon ul li{
	padding-left: 5px;

}
.top_icon ul li a{} 
.top_icon ul li i{
	background: #ffffff;
	padding: 5px 5px;
	border-radius: 360px ;
} 
.top_area_left{
	background: #3498db;
	padding: 5px 5px;
	border-radius: 35px 0 0;
}
.top_icon ul li i:hover{
	color: #000;
}


/*Top menu area css*/


.top_menu_area{
	background: #ffffff;
	padding: 10px 10px;

}
.top_logo{}
.top_logo a img:hover{
	transform: translatey(-3px);
	transition: 1s;
}
.menu{}
.menu ul{
	display: flex;
	justify-content: flex-end;
}
.menu ul li{
	padding: 8px 8px;
	margin-top: 5px;
	font-size: 18px;

}
.menu ul li a{
	color: #27ae60;
	font-weight: 800;	
}

.menu ul li a:hover{
	color: #e67e22;
}

/*Top mobile menu area css*/
.mobile-menu{
	display: none;
}
.mobile-menu i{
	cursor: pointer;
}

