@media(max-width: 991px){

}



@media(max-width: 767px){

	.top_content h5{
	text-align: center;
	}
	
	.top_content h6{
	text-align: left;
	margin-left: 10px;
	}

.menu-items{
	position: relative;  
}

	.menu{
	position: absolute;
	top: 28%;
	left: 0%;
	background:rgba(26, 188, 156,0.4);
	width: 100%;
	border-top: 1px solid #1abc9c;
}

	.menu ul{
		display: block;
	}
	.mobile-menu{
		display: flex;
		justify-content: flex-end;
	}



}